<!--    Template for the Account view that will be injected into Index.html at runtime whenever the
        user navigates to the Account page. This view provides the user with a way to view their group
        login credentials, -->
    <script>
        $('#gNameContainer').html(window.localStorage.getItem('group_name'));
        console.log("name:" + window.localStorage.getItem('group_name'));
        $('#gPwdContainer').html(window.localStorage.getItem('group_password'));
        console.log("pwd: " + window.localStorage.getItem('group_password'));
    </script>

<div>
    <div>
        <h3 class="center-align pink-text" style="text-align: center">Group Info</h3>
        <h4 class="center-align pink-text text-lighten-4" style="padding-left: 10px">Your group username:</h4>
        <h5 id="gNameContainer" class="center-align pink-text"></h5>
        <h4 class="center-align pink-text text-lighten-4" style="padding-left: 10px">Your group password:</h4>
        <h5 id="gPwdContainer" class="center-align pink-text"></h5>
        <div class="social-login valign-wrapper" style="position: fixed; left:25%">
                <a class="waves-effect waves-light btn valign" onclick="re.fbHandler.logout(function() {})" style="font-family: Roboto; background-color: #3b5998; font-size 1em">
                <i class="fa fa-facebook fa-3x" style="margin-bottom: 1em"></i>
                Log out
                </a>
        </div>
    </div>
</div>