<div id="facebook-login">
    <div class="login-box">
        <div class="lb-header">
          <a href="#" class="active" id="login-box-link">Login</a>
        </div>
        <div class="social-login">
          <a href="#">
            <i class="fa fa-facebook fa-lg"></i>
            Login in with facebook
          </a>
    
        </div>
    </div>  
    <div class="fb-login-button" data-max-rows="1" data-size="xlarge" data-show-faces="false" data-auto-logout-link="false"></div>
</div>
<script>
    document.getElementById("navbar").style.display = "none";
</script>