<!--    Template for the Feed view that will be injected into Index.html at runtime initially
        and whenever the user navigates to the Feed page. It will include the list of important
        upcoming items that will be dynamically loaded from local storage.  -->
<script>
    document.getElementById("navbar").style.display = "";
</script>

<!-- The feed of items that come after-->
<div id="feed-container">
    {{#ifCond this.length '==' 0}}
        <h4 class="center-align" style="margin: .5em">You currently have no upcoming reservations or expiring food</h4>
    {{/ifCond}}

    {{#each this}}

            {{#ifCond this.type '==' "fridge_item"}}
                <div class="list-item" id="{{ this._id }}" style="padding: .4em; .8em .5em .8em; background-color: #cdcdcd;">
                    <h5 class="white-text fridgeItem">Your group's {{this.item}} has expired!</h5>
            {{/ifCond}}

            {{#ifCond this.type '==' "reservation"}}
                <div class="list-item" id="{{ this._id }}" style="padding: .4em; .8em .5em .8em; overflow: hidden;">
                    <header class="white-text left-align" style="margin-bottom: .2em; font-size: 1.5em; line-height: 1em;">Reservation: {{ this.date }} {{ this.item }}</header>
                    <div class="divider teal lighten-5" id="popupDivider"></div>
                    <ul>
                        <li class="white-text" style="font-size: 1.4em; text-align: right; margin-top: .4em"> At {{ this.time }} today</li>
                    </ul>
            {{/ifCond}}
        </div>
    {{/each}}
</div>

<!-- Buttons for going to the other pages of the application -->
<div id="shortcut-container">
    <a onClick="re.feedController.fridgeModuleButton()" style="margin-left: 2%;"><img src="res/buttons/FridgeIcon.png" width="30%"></a>
    <a onClick="re.feedController.reservationModuleButton()" style="margin-left: 2%;"><img src="res/buttons/ReservationIcon.png" width="30%"></a>
    <a onClick="re.feedController.listModuleButton()" style="margin-left: 2%;"><img src="res/buttons/ListIcon.png" width="30%"></a>
</div>

<!-- popup displayed in case trying to delete a fridge item, hidden by default -->
<div class="popupBackground" id="removePopup">
    <div class='popup'  style="top: 20%; height: auto">
        <h6 class="white-text left-align" style="margin-bottom: 0; font-size: 3em; line-height: 1em; text-align: center" id="removeHeader"></h6>
        
        <button class="btn waves-effect waves-light popup-button" 
                type="submit" style="float: left; width: 49%" name="action" id="cancel-remove">Cancel</button>
        
        <button class="btn waves-effect waves-light popup-button" 
                type="submit" style="float: right; width: 49%" name="action" id="remove">Remove</button>
    </div>
</div>