<!--
    Template for the Fridge view that will be injected into Index.html at runtime when the user
        navigates to the Fridge page. It will include the list of food items with their sharing
        preference and expiration dates that will be dynamically loaded from local storage.  
<script>
    document.getElementById("navbar").style.display = "";
    $(".button-collapse").sideNav({
        menuWidth: 200,
        closeOnClick: true
    });
</script>
<div class="divider teal lighten-4"></div>
<div class="row">
    <div class="nav-wrapper">
      <ul class="tabs">
        <li class="tab col s3 teal lighten-1"><a class="white-text" href="#fridge">Mine</a></li>
        <li class="tab col s3 teal lighten-1"><a class="active white-text" href="#fridge">Shared</a></li>
      </ul>
    </div>
  </div>

<h1>Fridge Manager</h1>
<form>
    <input type="text" placeholder="Text" id="text"><br>
    <input type="text" placeholder="Owner" id="owner"><br>
    <input type="date" id="date"><br>
</form>
<button id="store" onclick="re.storage.store('fridge')">Store</button>
<button id="show" onclick="re.storage.show('fridge')">Show</button>
<button id="clear" onclick="re.storage.clear('fridge')">Clear</button><br>
<textarea rows="20" columns="40" id="area"></textarea>-->


<!--    Template for the Feed view that will be injected into Index.html at runtime initially
        and whenever the user navigates to the Feed page. It will include the list of important
        upcoming items that will be dynamically loaded from local storage.  -->
<script>
    document.getElementById("navbar").style.display = "";
</script>
<div>
    <h3 class="left-align pink-text text-lighten-4" style="padding-left: 10px">Fridge (coming soon!)</h3>
</div>

{{#each this}}
    <div class="list-item" id="{{ this._id }}">
        <!-- Figure out logic to only display items owned by the user
        {{#ifCond }}-->
        <h5>{{ this.item }} {{ this.expiration}}</h5>
        
        {{#ifCond this.sharable '==' "yes"}}
            <h5>Shared</h5>
        {{/ifCond}}
    </div>
{{/each}}

<!-- Small popup menu to add new list, hidden by default -->
<div class="popupBackground">
    <div class="popup">
        
        <h3 class="white-text">Add Item</h3>
        <div class="divider teal lighten-4"></div>
        
        <div id="namediv">
            <h4 style="float left">Name</h4>
            <form>
                <input type="text" placeholder="" id="name"><br>
            </form>
        </div>
        
        <div id="expirationdiv">
            <h4 style="float left">Expires on</h4>
            <input type="text" placeholder="" id="expiration"><br>
        </div>
        
        <div id="buttons">
            <button class="btn waves-effect waves-light popup-button" 
                type="submit" onclick="re.controller.hidePopup()" style="float:left" name="action" id="cancel">Cancel</button>
            
            <button class="btn waves-effect waves-light popup-button" 
                type="submit" style="float:right" name="action" id="done">Done</button>
            
            <button class="btn waves-effect waves-light popup-button" 
                type="submit" style="position: absolute; left: 35%" name="action" id="next-item">Next Item</button>
        </div>
    </div>
</div>