<!--
    Template for the Fridge view that will be injected into Index.html at runtime when the user
        navigates to the Fridge page. It will include the list of food items with their sharing
        preference and expiration dates that will be dynamically loaded from local storage.  -->

<!-- Omar's initial fridge mockup, currently for reference, to be deleted at some point
<form>
    <input type="text" placeholder="Text" id="text"><br>
    <input type="text" placeholder="Owner" id="owner"><br>
    <input type="date" id="date"><br>
</form>
<button id="store" onclick="re.storage.store('fridge')">Store</button>
<button id="show" onclick="re.storage.show('fridge')">Show</button>
<button id="clear" onclick="re.storage.clear('fridge')">Clear</button><br>
<textarea rows="20" columns="40" id="area"></textarea>-->

<script>
    document.getElementById("navbar").style.display = "";
    $(document).ready(function(){
        $('ul.tabs').tabs();
    });
    
</script>


<div class="row">
    <div class="nav-wrapper">
      <ul class="tabs" id="fridge-tabs">
        <li class="tab col s3 teal lighten-1"><a onclick="window.location.hash='#fridge-mine'" id="fm" class="white-text" href="#fridge-mine">Mine</a></li>
        <li class="tab col s3 teal lighten-1"><a onclick="window.location.hash='#fridge-shared'"id="fs" class="active white-text" href="#fridge-shared">Shared</a></li>
      </ul>
    </div>
</div>

<div class="row"></div>
<div class="row"></div>
{{#each this}}
    {{#ifCond this.expiration_date '==' -1}}
        <div class="list-item" id="{{ this._id }}" style="background-color: #cdcdcd;">
            <h5 class="white-text">{{ this.item }} has expired</h5>
    {{/ifCond}}

    {{#ifCond this.expiration_date '==' 0}}
    <div class="list-item pink lighten-4" id="{{ this._id }}">
        <h5 class="white-text">{{ this.item }} expires today</h5>
    {{/ifCond}}

    {{#ifCond this.expiration_date '>' 0}}
        <div class="list-item" id="{{ this._id }}" style="padding: .4em .8em .5em .8em; overflow: hidden;">
        <header class="white-text" style="margin-top: .2em; font-size: 1.5em;">{{ this.item }}</header>
        <div class="divider teal lighten-5" id="popupDivider"></div>
        <header class="white-text right-align" style="font-size: 1.4em; margin-top: .4em">Expires in {{ this.expiration_date }} days</header>
            
        {{#ifCond this.sharable '==' "yes"}}
            <header class="white-text right-align" style="font-size: 1.4em;">Shared by {{ this.owner }}</header>
        {{/ifCond}}
    {{/ifCond}}
        </div>
{{/each}}

<!-- Button to add new fridge items -->
<div class="fixed-action-btn" onclick="re.fridgeController.makeNewFridgeItem()" id="new-fridge-item-btn" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-large waves-effect waves-light pink"><i class="material-icons">add</i></a>
</div>

<!-- Small popup menu to add new list, hidden by default -->
<div class="popupBackground main">
    <div class="popup" style="height: auto; overflow: hidden;">
        
        <h4 class="white-text" style="margin: .5em 0">Add Item</h4>
        <div class="divider teal lighten-5" id="popupDivider"></div>
        
        <div id="namediv" style="padding-top: 1em">
            <h5 class="white-text" style="float: left; margin: 0">Name</h5>
            <div id="fridge-item">
                <!--<input type="text" placeholder="" id="name"><br>-->
                <input class="white-text" list="names-datalist" name="name" id="names">
                <datalist id="names-datalist">
                </datalist>
            </div>
        </div>
        
        <div id="expirationdiv">
            <h5 class="white-text" style="float: left; margin: 0">Expires on</h5>
            <input class="white-text" type="date" placeholder="" id="expiration"><br>
        </div>
        
        <div id="shared" style="margin 5em">
            <h5 class="white-text" style="float: left; margin: 0 ">Shared</h5><br><br>
            <form action="#" style="margin-bottom: 1em">
                    <input class="with-gap" name="group1" type="radio" id="yes-button" checked />
                    <label class="white-text" for="yes-button">Yes</label>
                    <input class="with-gap" name="group1" type="radio" id="no-button"/>
                    <label class="white-text" for="no-button">No</label>
            </form>
        </div>
        
        <div id="buttons">
            <button class="btn waves-effect waves-light popup-button" 
                type="submit" style="float: left" name="action" id="cancel">Cancel</button>
            
            <button class="btn waves-effect waves-light popup-button" 
                type="submit" style="float: right" name="action" id="done">Done</button>
            
            <button class="btn waves-effect waves-light popup-button" 
                type="submit" style="position: absolute; left: 35%" name="action" id="next-item">Next Item</button>
        </div>
    </div>
</div>

<!-- popup displayed in case trying to delete a fridge item, hidden by default -->
<div class="popupBackground" id="removePopup">
    <div class='popup'  style="top: 20%; height: auto">
        <h6 class="white-text left-align" style="margin-bottom: 0; font-size: 3em; line-height: 1em; text-align: center; margin-bottom: .5em" id="removeHeader"></h6>
        
        <button class="btn waves-effect waves-light popup-button" 
                type="submit" style="float: left; width: 49%" name="action" id="cancel-remove">Cancel</button>
        
        <button class="btn waves-effect waves-light popup-button" 
                type="submit" style="float: right; width: 49%" name="action" id="remove">Remove</button>
    </div>
</div>

<!-- Error popup displayed in case adding a fridge item went wrong, hidden by default -->
<div class="error-popup">
    <header class="white-text center-align" style="margin: 1.4rem auto;">SORRY! SOMETHING WENT WRONG. PLEASE TRY AGAIN</header>
    <button class="btn waves-effect waves-light" 
            style="background-color: #4db6ac; box-shadow: none; text-align: center; width: 100%;" type="submit" name="action" id="exit-error">Try Again</button>
</div>