<!--Template for the GroupMakeJoin view that will be injected into Index.html at runtime.
    This will be the default page for users who don't have a group_id stored in the application,
    but do have a user_id (meaning they are logged in via Facebook). This page will allow users
    to create a new RoomEase group or join an existing one. -->

<script>
    document.getElementById("navbar").style.display = "none";
    document.getElementById("loading-icon").style.display = "none";
    $('#make').on('click', re.newController.goToMakeView);
    $('#join').on('click', re.newController.goToJoinView);
    
</script>
<div>
    <div class="pen-title">
      <h1 style="font-weight: bold" id="grouptitle">Welcome to RoomEase</h1>
    </div>
    <div>
      <div>
        <h1 class="title" style="font-size: 1.75em; text-align: center">Make or join a group!</h1>
          <div>
            <br />
            <p style="text-align: center"><a id="make" class="waves-effect waves-light btn-large">Make</a></p>
            <br />
            <p style="text-align: center"><a id="join" class="waves-effect waves-light btn-large">Join</a></p>
            <br />
            <br />
          </div>
      </div>
    </div>
</div>