<!--Template for the GroupMake view. This template is presented after the the user
has logged into facebook and has decided to create a new group rather than join a group.
After clicking on the create group, the user is given a generated group name and password  -->

<script>
    document.getElementById("navbar").style.display = "none";
    document.getElementById("loading-icon").style.display = "none";
    $("#continue").hide();
    
    /**
     * Routes the user to the feed view after continuing
     */ 
    function goToFeedView() {
        setTimeout(function(){ window.location.hash = "#feed" }, 250);
    }
    
    /**
     * Populates the group name and group password with a generated group
     * name and password and unhides the continue button to route the user to the
     * feed view. Disables the create group button to prevent abuse.
     */ 
    function getGroupNameAndPassword() {
        re.loginHandler.createGroupAndDisplayInfo()
        setTimeout(function(){ $("#continue").show(); }, 3250);
        $("#back").hide();
        $("#create").hide();
    }
    
</script>
<div id="group-login">
    <div class="pen-title">
      <h1 style="font-weight: bold" id="grouptitle">RoomEase</h1>
    </div>
    <div class="container">
      <div class="card">
        <h1 class="title" style="font-size: 1.75em">Create</h1>
        <div class="button-container">
            <a id="create" onclick="getGroupNameAndPassword()" class="waves-effect waves-light btn">Create!</a>
                <br />
                <br />
              <h5 style="font-size: 1.5em">Your Group Name:</h5>
              <h5 id="groupName"></h5>
              <h5 style="font-size: 1.5em">Your Group Password:</h5>
              <h5 id="groupPwd"></h5>
              <div id="continue">
                <h5 style="font-size: 1.5em">Your group login info will also be available from the Account page inside the app!</h5>
                <a id="continue" onclick="goToFeedView()" class="waves-effect waves-light btn" style="white-space: normal">Continue</a>
            </div>
            <br />
            <a href="#gl" id="back" class="waves-effect waves-light btn">Back</a>
        </div>
      </div>
    </div>
</div>
