<!--    Template for the List view that will be injected into Index.html at runtime when
        the user navigates to the List page. It will include the grocery list of the current
        user and the group lists that will be dynamically loaded from local storage.  -->

<h2>Lists</h2>

<!-- This section should dynamically insert all of the lists into the page-->
{{#each this}}
    <div class="list-item"><header class="white-text left-align" style="margin-bottom: 0; font-size: 1.6em; line-height: 1.25em">{{ this.name_of_list }}</header>
        {{#items}}
            <ul>
                <li class="white-text" style="font-size: 1.4em">{{ this }}</li>
            </ul>
        {{/items}}
    </div>
{{/each}}

<!-- Button to add new list -->
<div class="fixed-action-btn" id="new-list-btn" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-large waves-effect waves-light pink"><i class="material-icons">add</i></a>
</div>

<!-- Small popup menu to add new list, hidden by default -->
<div class="popup">  
    <form>
        <input type="text" placeholder="List Name" id="text"><br>
        <input type="text" placeholder="Owner" id="owner"><br>
        <input type="date" id="date"><br>
    </form>
    <button id="store" onclick="re.storage.store('list')">Store</button>
    <textarea rows="20" columns="40" id="area"></textarea>
</div>

<!--
<form>
    <input type="text" placeholder="Text" id="text"><br>
    <input type="text" placeholder="Owner" id="owner"><br>
    <input type="date" id="date"><br>
</form>
<button id="store" onclick="re.storage.store('list')">Store</button>
<button id="show" onclick="re.storage.show('list')">Show</button>
<button id="clear" onclick="re.storage.clear('list')">Clear</button><br>
<textarea rows="20" columns="40" id="area"></textarea>
-->