<!--    Template for the List view that will be injected into Index.html at runtime when
        the user navigates to the List page. It will include the grocery list of the current
        user and the group lists that will be dynamically loaded from local storage.  -->
<script>
    document.getElementById("navbar").style.display = "";
</script>

<!-- This section should dynamically insert all of the lists into the page-->
<div id="list-tiles">
{{#ifCond this.length '==' 0}}
    <h4 class="pink-text center-align" style="margin: .5em">You currently have no lists</h4>
{{/ifCond}}

{{#each this}}
    <div class="list-item" id="{{ this._id }}" style="overflow: hidden;"><header class="white-text left-align" style="margin-bottom: .1em; font-size: 1.8em; line-height: 1.25em;">{{ this.name_of_list }}</header>
        <div class="divider teal lighten-5" id="popupDivider"></div>
        <ul style="list-style-type: circle !important">
            {{#items}}
                <li class="white-text" style="font-size: 1.6em; list-style-type: circle; margin-top: .2em">{{ this }}</li>
            {{/items}}
        </ul>
    </div>
{{/each}}
</div>

<!-- Button to add new list -->
<div class="fixed-action-btn" onclick="re.listController.makeNewList()" id="new-list-btn" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-large waves-effect waves-light pink"><i class="material-icons">add</i></a>
</div>


<!-- Small popup menu to add new list, hidden by default -->
<div class="popupBackground">
    <div class="popup" style="padding-top: 0; overflow: hidden;">
        
        <h4 class="white-text" id="popupTitle" style="text-align: center; margin: .5rem 0;">New List</h4>
        <div class="divider teal lighten-5" id="popupDivider"></div>
        
        <form>
            <input type="text" placeholder="List Name" id="name"><br>
        </form>
        <div class="list-entry">
            <form id="list-items">
                <input type="text" placeholder="Item" id="next-item" style="margin: 0 0 0 .75em; width: 95%"><br>
            </form>
        </div>
        <div id="buttons">
            <button class="btn waves-effect waves-light popup-button" 
                type="submit" onclick="re.controller.hidePopup()" style="float:left" name="action" id="cancel">Cancel</button>
            
            <button class="btn waves-effect waves-light popup-button" 
                type="submit" style="float:right" name="action" id="done">Done</button>
            
            <button class="btn waves-effect waves-light popup-button" 
                type="submit" style="position: absolute; left: 35%" name="action" id="delete">Delete</button>
        </div>
    </div>
</div>

<!-- Error popup displayed in case adding a list went wrong, hidden by default -->
<div class="error-popup">
    <header class="white-text center-align" style="margin: 1.4rem auto;">SORRY! SOMETHING WENT WRONG. PLEASE TRY AGAIN</header>
    <button class="btn waves-effect waves-light" 
            style="background-color: #4db6ac; box-shadow: none; text-align: center; width: 100%;" type="submit" name="action" id="exit-error">Try Again</button>
</div>