<!--    Template for the Reservations view that will be injected into Index.html at runtime when the user navigates
        to the Reservations page. It will include the list of reservation items (shower, tv, laundry, etc.) that
        the user currently has selected and these reservations will be dynamically loaded from local storage.  -->

        <!--    Template for the Scheduler view that will be injected into Index.html at runtime when
        the user navigates to the Scheduler page. -->
<script>
    document.getElementById("navbar").style.display = "";
    $(".button-collapse").sideNav({
        menuWidth: 200,
        closeOnClick: true
    });
</script>
<!-- This section should dynamically insert all of the reservations into the page-->
<div class="all-reservation-items">
{{#each this}}
    <div class="reservation-item" id="{{this._id}}"><header class="white-text left-align" style="margin-bottom: 0; font-size: 3.0em; line-height: 1.25em;">  {{this.title}} </header>
        <ul>
            <li class="white-text" style="font-size: 1.4em">  {{this.start}}</li>  
            <li class="white-text" style="font-size: 1.4em">{{ this.end}}</li>  
        </ul>
</div>
{{/each}}
</div>


<!-- Button to add new chore-->
<div class="fixed-action-btn" onclick="re.controller.makeNewReservation()" id="new-reservation-btn" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-large waves-effect waves-light pink"><i class="material-icons">add</i></a>
</div>


<!-- Small popup menu to add new schedule item, hidden by default -->
<div class="popupBackground">
    <div class="popup">  
        <form>
            <input type="text" placeholder="Resrvation Item" id="name" class="reservation-form-field"><br>
        </form>
        <div  class="white-text left-align reservation-entry" style="margin-bottom: 0; font-size: 2.0em; line-height: 1.25em;">
            <form>
                Start date:
                <input type="date" id="start-date" class="reservation-form-field"/>
            </form>
            <form>
                Start Time:
                <input type="time" id="start-time" onfocus="" class="reservation-form-field"><br>
            </form>
            <form style="float:left; width: 49%">
                Hours:
                <input class="reservation-form-field" type="number" id="reservation-hours" min="0" max="11" step="1">
            </form>
            <form style="float:right; width: 49%">
                Minutes
                <input type="number" id="reservation-minutes" min="0" max="55" step="5" class="reservation-form-field">
            </form>
        </div>
        <div id="buttons">
            <button class="btn waves-effect waves-light popup-button" 
                type="submit" style="float:left" name="action" id="create-cancel">Cancel</button>
            
            <button class="btn waves-effect waves-light popup-button" 
                type="submit" style="float:right" name="action" id="create-done">Done</button>
        </div>
    </div>
</div>

<div class="delete-reservation-popup">
    <div class='popup'>
        <header class="white-text left-align" style="margin-bottom: 0; font-size: 4em; line-height: 1.5em; text-align: center">  Really Delete Reservation? </header>
        <button class="btn waves-effect waves-light popup-button" 
            tytype="submit" style="float:left; height: 20%; width: 48%" name="action" id="delete-cancel">Cancel</button>
        <button class="btn waves-effect waves-light popup-button" 
            type="submit" style="float:right; height: 20%; width: 48%" name="action" id="delete-delete">Delete</button>
        
    </div>
</div>

<!-- Error popup displayed in case adding a list went wrong, hidden by default -->
<div class="error-popup">
    <header class="white-text center-align" style="margin: 1.4rem auto;">SORRY! SOMETHING WENT WRONG. PLEASE TRY AGAIN</header>
    <button class="btn waves-effect waves-light" 
            style="background-color: #4db6ac; box-shadow: none; text-align: center; width: 100%;" type="submit" name="action" id="exit-error">Try Again</button>
</div>